<html>
<head>
<title>ChickenCam</title>
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/jquery.lazyload.min.js"></script>
<!-- <link rel="stylesheet" href="/static/css/picnic.min.css"> -->
<script>
$(function() {
    $("img.lazy").lazyload({
      threshold : 2000,
      effect : "fadeIn",
    });

});
</script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/static/img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/bootstrap.min.js"></script>
<link href="/static/css/toastr.min.css" rel="stylesheet"/>
<script src="/static/js/toastr.min.js"></script>
<style>
body { padding-top: 70px; }
</style>


</head>
<body>


  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ChickenCam</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="dropdown" {{ if $.ListAll }}{{else}}class="active"{{end}}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pick a date <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{range $i, $val := .Data.ParseableDates}}
                <li><a href="/date/{{ $val }}">{{index $.Data.AvailableDates $i}} ({{index $.Data.PictureCounts $val}} photos) </a></li>
               {{ end }}


            </ul>
          </li>
          <li {{ if eq $.Data.Title  "" }}class="active"{{ end }}><a href="/about">About</a></li>
          <li><a href="https://github.com/schollz/chickencam" target="_blank">Build your own ChickenCam!</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>


  <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1><img class="lazy" data-original="/static/img/chicken.png" width=100>ChickenCam</h1>
          <h2>{{$.Data.Title}}</h2>
          {{ if eq $.Data.Title  "" }}
          <p class="lead">ChickenCam was created because I feared the chickens were plotting against me.</p>
          <p class="lead">If you are worried about the chickens in your coop, click <a href="https://github.com/schollz/chickencam">this blue text</a> to learn how to make your own ChickenCam.</p>
          {{ end }}
          {{ if $.ListAll }}{{ else }}
          <p class="lead">See and listen to chickens (no video).</p>
          <p class="lead">The chickens need your help to classify the images! Check the button which best represents the image and leave a note about which chicken is in the picture.</p>
          {{end}}

        </div>
        <div class="col-sm-6">
          <div class="panel panel-primary">

            <div class="panel-heading">
             <h3 class="panel-title">Live (updates every 15 seconds during the day)</h3>
            </div>

           <div class="panel-body">
             <img id="liveImage" src="/static/data/current.jpg?{{ $.Data.RandomNumber }}" width="100%">
           </div>
          </div>
        </div>
      </div>

      <div class="row">
        {{range $i, $date := .Data.SortedDates}}
        {{ $activity := index $.Data.Activity $i}}
        <div class="col-sm-6 col-md-4" id="{{index $.Data.SortedHashes $i}}">
          <div id="panel{{index $.Data.SortedHashes $i}}" class="panel panel-primary">

            <div class="panel-heading">
             <h3 class="panel-title"><a href="#{{index $.Data.SortedHashes $i}}">{{ $date }}</a></h3>
            </div>

           <div class="panel-body">
             <img class="lazy" data-original="/static/data/{{index $.Data.SortedNames $i}}.jpg" width="100%">
             <audio controls preload="none" class="lazy">
               <source src="/static/data/{{index $.Data.SortedNames $i}}.mp3" type="audio/mp3">
             Your browser does not support the audio element.
             </audio>
           </div>

           <div class="panel-footer">
             <div id="info{{index $.Data.SortedHashes $i}}"  style="display: none;">
               <span class="lead" id="infotext{{index $.Data.SortedHashes $i}}">White Chicken, laying egg</span>
                 <a href="#"><span class="glyphicon glyphicon-repeat inforedo" id="{{index $.Data.SortedHashes $i}}"></span></a>
             </div>
             <form action="/update" method="post" id="form{{index $.Data.SortedHashes $i}}">
               <div class="row">
                 <input type="hidden" name="id" value="{{index $.Data.SortedHashes $i}}">
                 <div class="form-check col-xs-5">
                   <fieldset class="form-group">
                     <div class="form-check">
                       <label class="form-check-label">
                         <input type="radio" class="form-check-input" name="presence" id="optionsRadios0" value="none">
                         No chicken
                       </label>
                     </div>
                     <div class="form-check">
                       <label class="form-check-label">
                         <input type="radio" class="form-check-input" name="presence" id="optionsRadios1" value="white">
                         White chicken
                       </label>
                     </div>
                     <div class="form-check">
                     <label class="form-check-label">
                         <input type="radio" class="form-check-input" name="presence" id="optionsRadios2" value="brown">
                         Brown chicken
                       </label>
                     </div>
                     <div class="form-check disabled">
                     <label class="form-check-label">
                         <input type="radio" class="form-check-input" name="presence" id="optionsRadios3" value="multiple">
                         2+ chickens
                       </label>
                     </div>
                   </fieldset>
                 </div>
                 <div class="form-group col-xs-7">
                   <div class="checkbox">
                     <label>
                       <input type="checkbox" name="egg"> Egg-laying is occuring
                     </label>
                   </div>
                   <div class="checkbox">
                     <label>
                       <input type="checkbox" name="face"> Face is visible
                     </label>
                   </div>
                   <div class="form-check">
                     <button type="submit" class="btn btn-primary btn-block update_form">Submit</button>
                   </div>
                 </div>
                 <span class="clearfix">
               </div>
             </form>
           </div>
          </div>
        </div>
        {{ end }}
      </div>

      <div class="row">
        {{ if $.ListAll }}
        {{range $i, $val := .Data.ParseableDates}}
        <div class="col-sm-6">
          <h2><a href="/date/{{ $val }}">{{index $.Data.AvailableDates $i}}</a> ({{index $.Data.PictureCounts $val}} photos)</h2>
        </div>
         {{ end }}
         {{ end }}
      </div>
  </div>






<script>
setInterval(function() {
    var myImageElement = document.getElementById('liveImage');
    myImageElement.src = '/static/data/current.jpg?rand=' + new Date().getTime();
}, 15000);
// this is the class of the submit button

$(".inforedo").click(function(e){
  // Holds the product ID of the clicked element
  $("#form"+$(this).attr('id')).css("display","inline");
  $("#info"+$(this).attr('id')).css("display","none");
  e.preventDefault();
});

$(function () {
    $('form').on('submit', function (e) {
        $.ajax({
            type: 'post',
            url: '/update',
            data: $(this).serialize(),
            success: function (data) {
              console.log(data); // show response from the php script.
              if (data.success == true) {
                $("#form"+data.id).css("display","none");
                $("#info"+data.id).css("display","inline");
                $("#infotext"+data.id).html(data.status)
                 toastr.success(data.status, 'Thanks!', {timeOut: 3000})
              } else {
                toastr.error(data.status, 'Uh oh!', {timeOut: 3000})
              }
            },
            error: function (data) {
              toastr.error(data.status, 'Uh oh!', {timeOut: 3000})
            }

        });
        e.preventDefault();
    });
});

</script>

</body>
</html>
